body {
	background: url('img/body_fon.png');
	background-repeat: repeat-x  repeat-y;
	margin: 0px;
}
#header {
	height: 60px;
	background-color: #E1E2E4;
	opacity: 0.8;
}
h2 {
	padding-top: 10px;
	margin: 0px calc(50% - 80px) 0px calc(50% - 80px); 
	color: #1c1c1c;
	font-family: Arial;
}
h3 {
	padding-top: 25px;
	margin: 0px calc(50% - 120px) 0px calc(50% - 120px); 
	color: #E3E3E3;
	width: 300px;
	font-family: Arial;
}
#sorting {
	margin: 40px calc(50% - 300px) 0px calc(50% - 300px); 
	height: 100px;
	background-color: #E3E3E3;
	border-radius: 10px;
	box-shadow:0px 0px 10px #000;
	opacity: 0.8;
}

h4 {
	padding-top: 10px;
	margin: 0px calc(50% - 70px) 0px calc(50% - 70px); 
	color: #000;
	font-family: Arial;
}
.listing {
	margin: 40px calc(50% - 200px) 0px calc(50% - 200px); 
	height: 120px;
	background-color: #E1E2E4;
	border-radius: 10px;
	box-shadow:0px 0px 10px #000;
}
.avatar {
	float:left;
	min-height:90px;
	min-width: 90px;
	margin: 15px 0px 0 30px;
	background-color: #A7631E;
}
.fio {
	padding-top: 25px;
	margin: 15px 0px 0 150px;
	/*margin: 0px calc(50% - 0px) 0px calc(50% - 0px);*/
	height: 40px;
	width: 260px;
	font-size: 20px;
	font-family: Arial;
}

.error {
	margin: 40px calc(50% - 200px) 0px calc(50% - 200px); 
	height: 100px;
	background-color: #E1E2E4;
	border-radius: 10px;
	box-shadow:0px 0px 10px #000;
}

.error_text {
	padding-top:30px;
	font-size: 20px;
	font-family: Arial;
	padding-left: 10px;
}

#footer {
	display: none;
	background-color:#080C0C;
	height:40px;
	color:#fff;
	margin-top:30px;
	font-size: 14px;
	font-family: Arial;
	opacity: 0.8;
}

.input {
	height:35px;
	margin-top:15px;
	background-color: #fff;
	border-radius:5px;
	margin-left:12px;
}
