.popup_window {
display:none;
width:100%; 
min-height:100%; 
background-color: rgba(0,0,0,0.5); 
overflow:hidden; 
position:fixed; 
top:0px; 
z-index: 100;
font-family: Arial;
}

.popup {
margin:40px auto 0px auto; 
width:600px; 
height: 330px; 
padding:10px;
background-color: #E1E2E4; 
border-radius:5px;
box-shadow: 0px 0px 10px #000;
}


.avatar-large {
	float:left;
	min-height: 200px;
	min-width: 200px;
	margin: 25px calc(50% - 280px) 0px calc(50% - 280px);
	background-color: #A7631E;
}

.close{
float:right;
top: 0px;
cursor: pointer;
}

.data {
	padding-top: 20px;
	margin: 0px calc(50% - 50px) 0px calc(50% - 50px);
	height: 40px;
	width: 300px;
	font-size: 18px;
}

.namepopup {
	font-size: 22px;
	width:200px;
		margin: 0px calc(50% - 10px) 0px calc(50% - 10px);
}